<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Images/3925422-labyrinth-maze-strategy-icon_111571.png")">
    <title> Control de Activos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/toastr.css">
    <link href="~/Css/Navbar.css" rel="stylesheet" />
    <link href="~/Css/Background.css" rel="stylesheet" />



    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
          rel="stylesheet" />

</head>
<body>
    <div>
        <!-- partial:index.partial.html -->
        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a href="@Url.Action("Index","Home")" class="elements">
                        <img src="~/Images/3925443-business-money-plant-icon-settings_111565.png" style="width:8%;"/>
                    </a>
                </div>
                <nav>
                    <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            @Html.ActionLink("Página Principal", "Index", "Home")
                        </li>
                        <li>
                            <a href="#">Matenimientos</a>
                            <ul class="navbar-dropdown">
                                <li>
                                    @Html.ActionLink("Activos", "Index", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Usuarios", "ListUsuario", "Usuario")
                                </li>
                                <li>
                                    @Html.ActionLink("Vendedores", "Index", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Marca", "Index", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Asegurador", "Index", "Home")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Deprecición</a>
                        </li>
                        <li>
                            <a href="#">Reportes</a>
                            <ul class="navbar-dropdown">
                                <li>
                                    @Html.ActionLink("Reporte 1", "Index", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Reporte 2", "Index", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink("Reporte 3", "Index", "Home")
                                </li>
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </section>
        <!-- partial -->
    </div>
    <div>
        <!-- partial:index.partial.html -->
        <div id="large-header" class="large-header" style="z-index: 0;">
            @*<canvas id="demo-canvas"></canvas>*@
            @RenderBody()
        </div>
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="color:white; background-color: lightseagreen">
                Desarrollado por Carlos Lizano
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- partial -->
    <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js'></script>
    <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js'></script>
    <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js'></script>
    <script src="./script.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="./script.js"></script>
    <script src="~/Javascript/Navbar.js"></script>
    <script src="~/Javascript/Background.js"></script>

    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>


</body>
</html>